{% extends 'blog/base2.html' %}

{% block content %}
<div class = "article">
    <img class="newsdetailimage" src="{{articles.imageurl}}" style="margin-top: 8px;">
    <div class="newsdetail" style="overflow-y: scroll; height: 100%;">
        {% if articles.postdate %}
            <div class="date">
                {{articles.postdate }}
            </div>
        {% endif %}
        <div >
          <h2><a class="detailslink" href="#">{{ articles.title }}</a></h2>
          <ul>{{ articles.text|safe }}</ul>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>


<div class = "comments">


  {% if articles.biastext == "Liberal Leaning" %}
    <div class ="bias left-bias" style="text-align: center; display: block; width: 100%; margin: auto;">
        <b data-toggle="tooltip" data-placement="top" title="Most of these articles are liberal leaning." style="text-align: center">&nbsp;Liberal Leaning</b>
    </div>
  {% elif articles.biastext == "Conservative Leaning" %}
    <div class ="bias right-bias" style="text-align: center; display: block; width: 100%; margin: auto;">
        <b data-toggle="tooltip" data-placement="left" title="Most of these articles are conservative leaning." style="text-align: center">&nbsp; Conservative Leaning</b>
    </div>
  {% else %}
    <div class ="bias neutral-bias" style="text-align: center; display: block; width: 100%; margin: auto;">
        <b data-toggle="tooltip" data-placement="left" title="On average, these articles are not strongly biased." style="text-align: center">Neutral Partisan Bias</b>
    </div>
  {% endif %}


    <div class = "header">
        <b style="font-size: 30px;">
          Summary Sources
        </b>
    </div>
    <div class ="articlelinks">
      {{articles.articleurl|safe}}

    </div>







</div>

{% endblock %}
