{% extends 'blog/base.html' %}


{% block content %}
    {% for article in articles %}
<style>
   .X{{ article.id }} {
    background-image: url("{{ article.imageurl }}");
     background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    height: 300px;
    width: 33%;
    padding-left: 1%;
    vertical-align: top;
    margin-bottom: 10px;
    opacity: 0.8;

}

.X{{ article.id }}:hover, half:hover {
opacity: 1;
  filter: blur(0px)
}


</style>
<a href="{% url 'news_detail' pk=article.pk %}">
      <div class="X{{article.id}}">
        <div class="post">
            <div class="date">
                <p>published: {{ article.postdate }}</p>
            </div>
            <div class="half">
            <h1>{{ article.title }}</h1>
                Comments: {{ article.comments.count }}
            <!--<h1><a href="{ url 'news' pk=articleupload.pk }">{{ articleupload.title }}</a></h1> -->
           <!-- <p>{{ article.text|linebreaksbr }}</p> -->
            </div>
        </div>
      </div>
</a>
    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if articles.has_previous %}
            <a class = "paginationlink" href="?page=1">&laquo; first</a>
            <a class = "paginationlink" href="?page={{ articles.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
        </span>

        {% if articles.has_next %}
            <a class = "paginationlink" href="?page={{ articles.next_page_number }}">next</a>
            <a class = "paginationlink" href="?page={{ articles.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}