body {
  padding-top: 10px;
  height: overflow-y: scroll;
}
h1 a, h2 a {
    color: #C25100;
    font-family: 'arial';
}

.page-header {
    background-color: #FFFFFF;
    margin-top: 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000000;
    font-size: 36pt;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
}

.content {
    margin-left: 0px;
}

h1, h2, h3, h4 {
    font-family: 'Arial', cursive;
    margin-top:0px
}

.h1header{
margin-bottom:0px
}

.date {
    color: darkGreen;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 5px;
    background: white;
}

.post h3 a, .post h1 a:visited {
    color: black;
}

.half  {
#background-color: rgba(0, 0, 0, 0);
color: black;
width: 96%;
margin-left: 3%
}



.col-md-8 {
width: 100%;
}

.container {
width:100%;
}

body {
background-color:white;
}

h1 {
Font-size: 1.65vw;

}


.topnav {
    background-color: #333;
    overflow: hidden;
    display: inline;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.menubar {
list-style-type: none;
    margin: 0;
    padding: 0;
}

.listmenu {
    display: inline;
    color: 000;
    padding: 0 20px 0px 0px;
    font-size: 15pt;
}

.listmenumain {
display: inline;
    color: #000000;
    font-size: 36pt;
    text-decoration: none;
    padding: 10px 40px 0px 10px;
}

a:hover {
color: grey;
text-decoration:none;

}

a {
color: black;
}

.listmenu-right {

  display: inline;
   float: right;
  color: 000;
  padding: 0 20px 0px 0px;
  font-size: 15pt;
}

.detailslink {
color: #000;
}
.detailslink:hover {
color: #000;
background-color: #fff;
}

.paginationlink {
color: white;
}
.current {
color: white;
}
.pagination {
margin-left: auto;
margin-right: auto;
}

.comment {
    margin: 20px 0px 20px 20px;
    background-color: white;

}
.newsdetailimage {
  border-radius: 7px;
}

.article {
display: flex;
flex-direction: column;
width:70%;
height: 100%;
background-color: white;
position: fixed;
top: 0;
left: 0;
}

.comments {
width: 30%;
height: 100%;
display: block;
background-color: #ecf0f1;
position: fixed;
top: 0;
right: 0;
overflow: visible;
vertical-align: top;
}

.newsdetail {
background-color:white;
height: auto;
width: 100%;
flex:1;

    margin-left: auto%;
    margin-right: auto;
    vertical-align: middle;
    font-size: 18px;
    padding: 2% 3% 6% 3%;

}

.newsdetailimage {
max-height: 40%;
flex:4;
width: auto;
display block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    background-color: white;
}

.articlemenu {
width: 99%;
position: relative;
float: left;
}
.articlecontent {
width: 59%;
left: 40%;
height: 100%;
position: fixed;
float: left;
background: white;
vertical-align: text-top;
}
.articletotal {
width: 40%;
background: white;
vertical-align: top;
}

.container{
padding-left: 0;
padding-right: 0;
}
.row{
margin-right:0px;
margin-left:0px;
}

.articlecontent iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
   border:none;
}
.post:hover {
background-color: rgba(0, 0, 0, 0.1);
}

.sepblock {
height: 100%;
width:.5%;
left:39.5%;
background-color:white;
position: fixed;
float: left;
}

.bias{
display: flex;
align-items: center;
vertical-align: middle;
 color: white;
  font-size: 30px;
  text-align: center;
}
.bias b {
  text-align: center;
}

.left-bias{
  background-color: #073e96;
  text-align: center;
}
.right-bias{
  background-color: #c92a1c;
  text-align: center;
}
.neutral-bias{
  background-color: #338741;
  text-align: center;
}
.articlelinks {
padding: 10%
}

.header {
font-size: 30px;
text-align: center;
margin: 5% 0 0 0;
}
