
h1 a, h2 a {
    color: #C25100;
    font-family: 'arial';
}

.page-header {
    background-color: black;
    margin-top: 0;
    position: sticky;
    top: 0;
    z-index: 100;
    border: none;
    margin: 0px 0 0 0;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #000000;
    font-size: 30pt;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
    display:inline;
    text-align: center;
}

.content {
    margin-left: 0px;
}

h1, h2, h3, h4 {
    font-family: 'Arial', cursive;
    margin-top:0px
}

.h1header{
margin-bottom:0px
}

.date {
    color: darkgreen;
    margin-left: 2%;
    width:30%;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 5px;
    ##background: white;
}

.post h3 a, .post h1 a:visited {
    color: black;
}

.half  {
#background-color: rgba(0, 0, 0, 0);
color: black;
width: 98%;
margin-left: 2%
}



.col-md-8 {
display: inline-block;
width: 90%;
margin: 0 0 0 10%;
padding: 0;
}

.col-md-9 {
display: inline-block;
width: 100%;
margin: 0 0 0 0%;
padding: 0;
background-color: RGBA(255, 255, 255, 0.5);
}

.container {
width:100%;
}

body {
background-color:white;
}

h1 {
Font-size: 1.65vw;

}


.topnav {
    background-color: #333;
    overflow: hidden;
    display: inline;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.menubar {
display: block;
width: 10%;
height:100%;
list-style-type: none;
    margin: 0;
    padding: 1%;
    position: fixed;
    background-color: black;
    color:white;
}

.logo{
display: block;
width: 90%;
margin-right: auto;
margin-left: auto;
}


.listmenu {

    color: white;
    padding: 10% 20px 10% 0px;
    font-size: 15pt;
    list-style-type: none;
}

.listmenumain {
display: inline;
    color: white;
    font-size: 36pt;
    text-decoration: none;
    padding: 10px 40px 0px 10px;
}

a:hover {
color: grey;
text-decoration:none;

}

a {
color: white;
}

.listmenu-right {

  display: inline;
   float: right;
  color: 000;
  padding: 0 20px 0px 0px;
  font-size: 15pt;
}



.detailslink {
color: #000;
}
.detailslink:hover {
color: #000;
background-color: #fff;
}

.paginationlink {
color: white;
}
.current {
color: white;
}
.pagination {
margin-left: auto;
margin-right: auto;
}

.comment {
    margin: 20px 20px 20px 20px;
    background-color: white;
    border-radius:5px;
    border: black;
     border-style:solid;
    border-width:3px;
    padding-left: 2%;
    padding-right:2%;
}

.article {
display: flex;
flex-direction: column;
width:100%;
height: 100%;
margin-top:0%;
margin-left: 0%;
top: 0;
left: 0;
overflow-y: auto;
background-color: white;
}

.sources {
width: 20%;
height: 100%;
display: inline-block;
background-color: white;
margin-top: 0%;
top:0;
right: 0;
overflow: visible;
vertical-align: top;
margin:auto;
}

.comments {
width: 100%;
height: 100%;
display: inline-block;
background-color: RGBA(255, 255, 255, 0.3);
top: 0;
right: 0;
overflow: visible;
vertical-align: top;
padding:3%;
}

.newsdetail {
#background-color:white;
background-color: rgba(255,255,255,0.3);
height: auto;
width: 100%;
flex:1;

    margin-left: auto%;
    margin-right: auto;
    vertical-align: middle;
    font-size: 18px;
    padding: 2% 3% 6% 3%;
    margin-bottom: 5%;
    overflow-y: auto;

}

.newsdetailimage {
max-height: 40%;
margin-top: 1%;
flex:4;
width: auto;
display block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    background-color: white;
    border-radius: 7px;
    filter: blur(0px) !important;
    -webkit-filter: blur(0px) !important;
    max-width:98%;
}

.backgroundblur{
    height: 100%;
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
    filter: blur(15px) brightness(30%);
    -webkit-filter: blur(15px) brightness(30%);
     #background-color: black;
     position:fixed;
     z-index:-1;
     transform: scale(1.06);
    }
.darken-overlay{
  width: 100%;
  height: 100%;
  background-color: black;
}


.articlemenu {
width: 100S%;
position: relative;
float: left;
}
.articlecontent {
width: 60%;
left: 40%;
height: 100%;
position: fixed;
float: left;
background: white;
vertical-align: text-top;
}
.articletotal {
width: 33%;
background: white;
vertical-align: top;
}

.container{
padding-left: 0;
padding-right: 0;
}
.row{
margin-right:0px;
margin-left:0px;
}

.articlecontent iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
   border:none;
}
.post:hover {

}

.sepblock {
height: 100%;
width:.5%;
left:39.5%;
background-color:black;
position: fixed;
float: left;
}

.bias{
margin: auto;
text-align: center;
 color: white;
  font-size: 20px;
}

.articlelinks {
padding: 10%
}

.header {
font-size: 30px;
text-align: center;
margin: 5% 0 0 0;
}

.articlelinks a{
color: black;}

.newsdetail .date{
margin-left:0;}

.newstext{
background-color: rgba(255,255,255,0.2);
padding: 1%;
color: black;
}


.article {
font-family: font-family: 'Roboto', sans-serif;
}

.flexarticle{
display: inline-block;
height: 100%;
width: 60%;
margin-left:9.6%
}




.form-style-5{
	width: 100%;
	padding: 0;
	##background: #f4f7f8;
	margin: 0px auto;
	padding: 0;
	##background: #f4f7f8;
	border-radius: 8px;
}
.form-style-5 fieldset{
	border: none;
}

.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 textarea,
.form-style-5 select {
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 10px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #d2d9dd;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:35px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 0;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 0px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #109177;
}
.menu_section1{
display:block;
Height: 40%;
width: 100%;
top:0;
text-align: center;
}

.menu_section2{
display: flex;
Height: 7%;
width: 100%;
text-align: center;
 vertical-align: middle;
 flex-direction: column;
  justify-content: center;
  font-size: 20px;

}

.menu_section2:hover{
background-color: #16a085;
color:white;
}

.menu_section3{
display: block;
margin-top:140%;
width: 100%;
text-align: center;
 vertical-align: middle;

  font-size: 20px;
}
.menu_section3:hover{
background-color: white;
color: black;
}

.menu_section4{
display: flex;
Height: 7%;
width: 100%;
text-align: center;
 vertical-align: middle;
 flex-direction: column;
  justify-content: center;
  font-size: 20px;

  color: white;
  border-bottom: 1px solid white;
}